
footer {
    display: flex;
    gap: 0 15px;
    align-items: center;
    padding: 25px;
    background-color: #222;
    color: #666;
}

footer > div {
    flex-grow: 1;
    width: 100%;
}

footer .logo {
    display: block;
    font-size: 2em;
    color: #777;
    text-decoration: none;
}

footer h3 {
    margin-bottom: 5px;
    font-family: 'Fraunces', serif;
}

footer a {
    display: block;
}

footer .scroll-to-top {
    width: auto;
}
